@page "/values-v"
@inject HttpClient Http

<h3>Values</h3>

@{
    foreach (var i in values!)
    {
        <h1>@i</h1>
    }
}

@code {

    private List<int>? values = new List<int>();

    protected override async Task OnInitializedAsync()
    {
        LoadData();
    }

    public async Task LoadData()
    {
        while (true)
        {
            await Task.Delay(4000);
            values = await Http.GetFromJsonAsync<List<int>>("Values");
            StateHasChanged();
        }
    }
}